.buttonRight {
  float: right;
  margin-right: 11px;
}

.button {
  background-color: #2d6ef7;
  padding: 15px 32px;
  color: #ffffff;
}

.closeButton {
  float: right;
}

.buttonWhite {
  background-color: #ffffff;
  padding: 15px 32px;
  color: #2d6ef7;
}
.board {
  margin: 125px 50px 75px 350px;
  width: 45%;
  border: 3px solid #000000;
  padding: 20px 30px 35px;
  background-color: #ffffff;
  vertical-align: middle;
  float: left;
  z-index: 1;
  border: 2px solid #cccccc;
}

@media only screen and (max-width: 600px) {
  .board {
    margin: 15px 20px 15px 20px;
    width: 80%;
  }
  .right {
    float: left;
  }
  .cart-button {
    width: 96%;
    margin: 0 auto;
  }
  .cart-button button {
    margin-bottom: 10px;
  }
  .cart-button button {
    width: 100%;
  }
  .cart-button button {
    width: 100%;
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
}
