.myDiv {
    width: 100px; 
    float:left; 
    height:100px; 
    background:gray; 
    margin:10px;
    padding: 20px;
    margin-left: 0px;
}

.text {
  color: #2d6ef7;
  font-weight: 600;
  font-size: 20px;
}

.right {
  float: left;
  width: 50%;
}
.right p {
  margin-top: 8px;
  margin-bottom: 8px;
}
.container .myDiv {
  float: left;
  width: 25%;
}
.container{
  float: left;
  width: 100%;
}
.delivery_text {
  float: left;
}
@media only screen and (max-width: 600px) {

.delivery_text {
  float: left;
  width: 100%;
}
}